form {
  font-size: var(--font-size-m);
  padding: 24px;
}

/* .input-section {
} */

.form-header {
  color: var(--secondary-color);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.input-group {
  display: flex;
  gap: 1rem;
}

.input-group > div {
  flex: 1;
}

label {
  color: var(--primary-color);
  font-size: var(--font-size-s);
  font-weight: 400;
}

input {
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  padding: 0.5rem 0.75rem;
  background-color: var(--placeholder-color-bg);
  color: var(--highlighted-color);
  transition: background-color 0.2s ease;
  padding-inline-end: 2.5rem;
}

input:focus {
  outline: none;
  background-color: var(--placeholder-color-bg-hover);
}

input:hover {
  background-color: var(--placeholder-color-bg-hover);
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.input-wrapper {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

input {
  padding: var(--button-padding-rectangle);
  background-color: var(--placeholder-bg);
  border: 1px solid var(--border-color-light);
  color: var(--primary-color);
}

input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

input.error {
  border-color: var(--red-color);
}

.error {
  color: var(--red-color);
}

/* CHANGE THIS RULE */
.input-wrapper span.error {
  font-size: var(--font-size-s);
  color: #d9534f;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }
}
