@font-face {
  font-family: 'OpenRunde';
  src: url('../../public/fonts/OpenRunde-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenRunde';
  src: url('../../public//fonts/OpenRunde-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

