html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  font-family: "OpenRunde", system-ui, sans-serif;
  padding: 0 8px 8px 8px;
  background-color: #0a0a0a;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cv-builder-layout {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  overflow: hidden;
  border-radius: 1rem; /* rounded-2xl */
  background-color: #171717; /* dark:bg-neutral-900 */
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, 0.05), /* shadow-xs */
    0 0 0 1px rgba(255, 255, 255, 0.1); /* ring-1 ring-white/10 */
}

.bold {
  font-weight: 700;
}

.app-header {
  color: white;
  padding: 16px 8px;
}

.editor-panel {
  flex: 1 1 40%;
  min-width: 250px;
  max-width: 600px;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);

  color: var(--primary-color);
  background-color: var(--editor-bg);
}
.preview-panel {
  background-color: var(--preview-bg);
  padding: 24px 72px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 60%;
  min-width: 300px;
}

.app-header {
  font-size: var(--font-size-l);
  font-weight: 900;
}
